html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: calc(10px + 0.5vw);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: black;
  background-color: lightgrey;
}
textarea,
input,
button {
  font-family: inherit;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  background-color: white;
  line-height: 1.5;
  margin: 0;
}
button {
  color: black;
  font-weight: 500;
}

textarea:hover,
input:hover,
button:hover {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

button:active {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
  transform: translateY(1px);
}

form[action$="destroy"] button {
  color: #f44250;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

header {
  background-color: darkgreen;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 61.25px;
  z-index: 2;

}

header * {
  display: inline-flexbox;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
  background-color: darkgreen;
  color: black;
}

li {
  float: left;
  width: fit-content;
  display: flexbox;
  flex-direction:row;
}

li:last-child {
  border-right: none;
  width: fit-content;
}

li a {
  display: flex;
  color: black;
  text-align: center;
  font-size:x-large; 
  padding: 14px 20px;
  height: 61.25px;
  text-decoration: none; 
}

li a:hover{
  background-color: #333;
  color: white;
}



/* Style The Dropdown Button */
.dropbtn {
  display: block;
  color: black;
  text-align: center;
  font-size:large; 
  padding-top: 15px;
  height: 61.25px;
  text-decoration: none;
}

.dropbtn:hover{
  background-color: #333;
  color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  float: right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
  width:max-content;
  font-size: 15px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.mainpage{
  width: 100%;
  height: auto;
  display:flexbox;
  margin-top: 61.25px;
  content: "";
  display: table;
  clear: both;
  background-color: lightgray;
}

.sidebar{
  width: 20%;
  height: auto;
  background-color: lightgray;
  color: black;
  display: block;
  float: left;
  padding:5px;
}

.betzone{
  width: 20%;
  height: auto;
  background-color: lightgray;
  color: black;
  display: block;
  float:left;

}

.betpage{
  width: 60%;
  height: auto;
  padding: 10px;
  background-color: lightgray;
  color: black;
  display: block;
  float:left;
  overflow:visible;
}

.betpage-spec{
  width: 80%;
  height: auto;
  padding: 10px;
  background-color: lightgray;
  color: black;
  display: block;
  float:left;
  overflow:visible;
}



.bet-element img{
  height: 61.25px;

}

.drawmatch{
  float: left;
  display: flex;
  flex-direction:column;
  margin-right: 5%;
  margin: 0;
  justify-content: space-between;
}


@media only screen and (min-width: 500px) {
  .bet-element{
    display: flex;
    margin:20px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 500px) {
  .bet-element{
    display: flex;
    flex-direction: column;
    margin:20px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    justify-content: space-between;
  }
}


.drawmatchodds{
  display: flex;
  justify-content: space-around;
  float: right;
  margin: 0;

}

.racematch{
  display: flex;
  margin-left: 5%;
  margin-right: auto;
  float:left;
}

.betbox{
  display: flex;
  flex-direction: column;

  margin:20px;
  margin-right: 5%;
  margin-left: 0%;


  background-color: white;
  border: 0px solid gray;
  border-radius: 20px;

  overflow: hidden;
  height: fit-content;

}


#overlay {
  position: absolute; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  flex-wrap: wrap;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
  background-color: darkgreen; /* Black background with opacity */
  z-index: 4; /* Specify a stack order in case you're using a different order for other elements */
  cursor:pointer; /* Add a pointer on hover */
}

#overlay-main {
  position: absolute; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  flex-direction: column;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  background-color: darkgreen; /* Black background with opacity */
  z-index: 4; /* Specify a stack order in case you're using a different order for other elements */
  cursor:pointer; /* Add a pointer on hover */

}

.competitions{
  
  border-radius: 20px;
  border: 2px solid grey;
  width: 95%;
  height: auto;
  color: #000;
  background-color: white;
  display: block;
  margin: 10px;
  overflow: hidden;

}

.bet{
  background-color: white;
  border: 1px solid lightgray;
  margin: 10px;
  margin-bottom: 0;

}


.comp-button {
  background-color: white;
  border-radius: 0;
  border: 0 solid white;
  border-bottom: 2px solid gray;
  box-shadow:none;
  color: black;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor:auto;
  width: 100%;
  margin-bottom: 2px;

}

.bet-type-button {
  background-color: white;
  border-radius: 0;
  border: 0 solid white;
  box-shadow:none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor:pointer;
  width: 50%;
  margin-bottom: 2px;

  
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.odd-button {
  background-color: #FDDDC0;
  border-radius: 10px;
  border: 0 solid white;
  box-shadow:none;
  color: black;
  text-align: center;
  cursor:pointer;
  width: fit-content;
  height: fit-content;
  margin: auto ;
  margin-right: 10px;

}
